project: ""

destination:
  name: ""
  server: ""
  namespace: ""

bundler:
  enabled: true
  repoUrl: https://github.com/DiamondLightSource/authz.git
  targetRevision: HEAD
  path: charts/bundler
  valuesObject:

    extraEnvVars:
    - name: BUNDLER_DATABASE_PASSWORD
      valueFrom:
        secretKeyRef:
          name: ispyb
          key: password
    - name: BUNDLER_DATABASE_URL
      value: mysql://ispybdbproxy.diamond.ac.uk:4306/ispyb/ispyb_ro:$(BUNDLER_DATABASE_PASSWORD)
    - name: BUNDLER_REQUIRE_TOKEN
      valueFrom:
        secretKeyRef:
          name: token-authorization
          key: bearer
    - name: BUNDLER_STATIC_DATA
      value: /srv/bundler/*.json

    volumeMounts:
      - name: static-bundler-volume
        mountPath: /srv/bundler/

    volumes:
      - name: static-bundler-volume
        configMap:
          name: bundler-static-data

    autoscaling:
      enabled: true
      maxReplicas: 10
      targetMemoryUtilizationPercentage: 80

    ingress:
      enabled: true
      hosts:
        - host: authz.diamond.ac.uk
          paths:
            - path: /bundle.tar.gz
              pathType: Prefix

opa:
  enabled: true
  repoUrl: https://github.com/DiamondLightSource/authz.git
  targetRevision: HEAD
  path: charts/opa
  valuesObject:

    env:
    - name: BUNDLER_BEARER_TOKEN
      valueFrom:
        secretKeyRef:
          name: token-authorization
          key: bearer
    - name: ISSUER
      value: https://authn.diamond.ac.uk/realms/master

    autoscaling:
      enabled: true
      minReplicas: 2
      maxReplicas: 10
      targetMemoryUtilizationPercentage: 80

    ingress:
      enabled: true
      hosts:
        - host: authz.diamond.ac.uk
          paths:
            - path: /
              pathType: Prefix

    config:
      services:
        diamond-bundler:
          url: https://authz.diamond.ac.uk
          credentials:
            bearer:
              token: ${BUNDLER_BEARER_TOKEN}
        ghcr:
          url: https://ghcr.io
          type: oci
      bundles:
        diamond-permissionables:
          service: diamond-bundler
          resource: bundle.tar.gz
          polling:
            min_delay_seconds: 10
            max_delay_seconds: 60
        diamond-policies:
          service: ghcr
          resource: ghcr.io/diamondlightsource/authz-policy:0.0.16
          polling:
            min_delay_seconds: 30
            max_delay_seconds: 120

    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        cpu: 1000m
        memory: 2Gi
