version: "3.8"

services:
  bundler:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached,z
    command: sleep infinity
    environment:
      DATABASE_URL: mysql://root:rootpassword@ispyb/ispyb_build
      BUNDLER_DATABASE_URL: mysql://root:rootpassword@ispyb/ispyb_build
      BUNDLER_LOG_LEVEL: DEBUG
      BUNDLER_OTEL_COLLECTOR_URL: http://collector:4317

  opa:
    image: docker.io/openpolicyagent/opa:0.59.0
    restart: unless-stopped
    command: >
      run
      --server
      --config-file /config.yml
      --watch
      /policy
    volumes:
      - ./opa.yml:/config.yml:cached,z
      - ../policy/:/org-policy:cached,z
    environment:
      TRACING_ADDRESS: collector:4317
      JWKS_ENDPOINT: https://authn.diamond.ac.uk/realms/master/protocol/openid-connect/certs

  ispyb:
    image: ghcr.io/diamondlightsource/ispyb-database:v3.0.0
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: rootpassword

  collector:
    image: docker.io/otel/opentelemetry-collector:0.91.0
    restart: unless-stopped
    ports:
      - 55679:55679
    volumes:
      - ./collector.yml:/etc/otelcol/config.yaml

  jaeger:
    image: docker.io/jaegertracing/all-in-one:1.52.0
    restart: unless-stopped
    ports:
      - 16686:16686

  prometheus:
    image: docker.io/prom/prometheus:v2.48.1
    restart: unless-stopped
    ports:
      - 9091:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
