apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bundler.fullname" . }}
  labels:
    {{- include "bundler.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "bundler.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "bundler.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "bundler.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ include "bundler.name" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository}}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: BUNDLER_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.bundler.database.passwordSecret.name }}
                  key: {{ .Values.bundler.database.passwordSecret.key }}
            - name: BUNDLER_DATABASE_URL
              value: {{ include "bundler.databaseURL" . }}
            - name: BUNDLER_REQUIRE_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.bundler.requireTokenSecret.name }}
                  key: {{ .Values.bundler.requireTokenSecret.key }}
            - name: BUNDLER_POLLING_INTERVAL
              value: {{ .Values.bundler.pollingInterval }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
